qt_cmake/
CMakeFiles/
debug/
caffe-fast-rcnn/cmakebuild
build_ongly/
write_videos/
build/
*/models/
*.user
source/compare/*.pb.h
source/compare/*.pb.cc
cmake-build-debug/
cmake-build-release/
.idea/
source/compare/obj_reid_feat.prototxt.pb.cc
source/compare/obj_reid_feat.prototxt.pb.h
cmake-build-debug/
cmake-build-release/
.idea/
*.cmake
CMakeCache.txt
3rdParty.bak
*.cbp
Makefile
data/
